---
---

@import "{{ site.theme }}";

div#header {
  background: #328CC1;
  background-color: #328CC1;
  border: #328CC1;
  border-bottom: #328CC1;
}

#header nav li a {
  background: #0B3C5D;
  background-color: #0B3C5D;
  border: #0B3C5D;
  box-shadow: black;
}

#header nav li a:hover {
  background-color: #0B3C5D;
  border: #0B3C5D;
  box-shadow: black;
}

body {
  background-color: white;
}

h1 {
  color: black;
  font-family: arial;
  text-align: left;
}

h2 {
  color: black;
  font-family: arial;
  text-align: left;
}

#wrapper {
  color: black;
  font-family: arial;
  text-align: left;
}

p {
  color: black;
  font-family: arial;
}
