---
---

@import "{{ site.theme }}";


body {
  background-color: white;
}

h1 {
  color: black;
  font-family: arial;
  text-align: left;
}

p {
  color: black;
  font-family: arial;
  font-size: 20px;
}
